name: Build Windows

on:
  workflow_dispatch:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >-
          git
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-ninja
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-boost
          mingw-w64-x86_64-cppwinrt
          mingw-w64-x86_64-curl-winssl
          mingw-w64-x86_64-MinHook
          mingw-w64-x86_64-miniupnpc
          mingw-w64-x86_64-nodejs
          mingw-w64-x86_64-nsis
          mingw-w64-x86_64-onevpl
          mingw-w64-x86_64-openssl
          mingw-w64-x86_64-opus
          mingw-w64-x86_64-nlohmann_json

    - name: Configure CMake
      shell: msys2 {0}
      env:
        MSYSTEM: MINGW64
      run: |
        cmake -B build -G Ninja -S . \
          -DCMAKE_BUILD_TYPE=Release \
          -DBUILD_DOCS=OFF \
          -DBUILD_TESTS=OFF

    - name: Build
      shell: msys2 {0}
      env:
        MSYSTEM: MINGW64
      run: |
        ninja -C build
